/* --------------------------------------- */
/* Variables */
/* --------------------------------------- */

:root {
  --fudGreen: #a4de02;
}

/* --------------------------------------- */
/* Left Panel */
/* --------------------------------------- */

.leftPanel {
  width: 6em;
  height:100vh;
  float: left;
}

.leftPanel__navBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  float: left;
  width: 6em;
  height: 110vh;
  border-right: medium dashed var(--fudGreen);
}

.leftPanel__umlaut {
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 3.5em;
  color: var(--fudGreen);
  text-align: center;
  border-bottom: medium dashed var(--fudGreen);
}

.leftPanel__navIcon {
  height: 6em;
  width: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftPanel__icon {
  color: var(--fudGreen);
  padding: 0;
}

.leftPanel__navIcon:hover {
  background-color: var(--fudGreen);
  cursor:pointer;
}
.leftPanel__navIcon:hover .leftPanel__icon {
  color: white;
}

.leftPanel__fridgeIcon {
  width:  4.5em;
  background-image: url('assets/fridge-green.svg');
}

.leftPane__logInOut {
  border-radius: 10px;
  margin: 0 5px 0 7px;
  font-size: 1.1em !important;
  position: absolute;
  bottom: 1em;
}
.leftPane__logInOut:hover {
  background-color: var(--fudGreen);
  color: white;
}

/* --------------------------------------- */
/* Shop and Recipe */
/* --------------------------------------- */

.placeholder {
  color: var(--fudGreen);
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}

/* --------------------------------------- */
/* Fridge */
/* --------------------------------------- */
.fridge {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fridge__buttonGroup {
  margin: 5vh auto 0 auto;
}

.fridge__btnGroupLeft { border-radius: 10px 0px 0px 10px; }
.fridge__btnGroupMiddle { border-width:  2px 0px 2px 0px; }
.fridge__btnGroupRight  { border-radius: 0px 10px 10px 0px; }

.fridge__selectedButton {
  background-color: var(--fudGreen) !important;
  color: white !important;
}

.fridge__addIcon {
  margin-top: 10px;
  margin-left: 10px;
  cursor:pointer;
}

.fridge__tableAndActions {
  display: flex;
  width: 100%;
  justify-content: center;
}

.fridge__table {
  margin-top: 4vh;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fridge__loadingText {
  color: var(--fudGreen);
  font-size: 30px;
  position: fixed;
  top: 50%;
  left: 55%;
  margin-top: -100px;
  margin-left: -100px;
}

/* ----- Fridge: Table ----- */

.ftHeader {
  margin-top: 6vh;
  border-bottom: 5px dashed #FED833;
  font-weight: bold;
  padding-bottom: 0.5em;
  color: #577504;
}

.ftRow {
  display: flex;
  align-items: center;
  width: calc(80vw - 3em);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #92c10f;
}

.ftCell {
  box-sizing: border-box;
  flex-grow: 2;
  width: 100%;
  overflow: hidden;
}

/*TODO*/
.checkmarkCell {
  /*width: 550px !important;*/
}
.iconCell {
  /*width: 650px !important;*/
}

.foodIcon {
  height: 2.5em;
  width:  2.5em;
}

/* ----- Fridge: Actions ----- */

.foodActionsBar div:last-child {
  display: flex;
  flex-direction: column;
  margin-right:3vw;
}

.foodAction {
  height: 3.9em;
  width: 3.9em;
  border-radius: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0 1em 0;
}

.foodActionEnabled {
  color: var(--fudGreen);
  border: 3px solid var(--fudGreen);
  cursor: pointer;
}

.foodActionDisabled {
  color: #C0C5CE;
  border: 3px dotted #C0C5CE;
}
/* --------------------------------------- */
/* Util/Misc */
/* --------------------------------------- */
.noHighlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.greenButton {
  background: white;
  color: var(--fudGreen);
  border: 2px solid var(--fudGreen);
  padding: 5px 10px;
  font-size: 1.2em;
}
.greenButton:focus {
  outline: none;
}

.icon {
  color: var(--fudGreen);
  padding: 0;
}

.noDisplay {
  display: none;
}

/* I developed an entire feature without realizing my window was at 90% zoom. I don't want to redo the css ;; */
html {
  zoom: 90%;
}
