/* --------------------------------------- */
/* Left Panel */
/* --------------------------------------- */

.leftPanel {
  width: 6em;
  height:100vh;
  float: left;
}

.leftPanel__navBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  float: left;
  width: 6em;
  height: 100vh;
  border-right: medium dashed #a4de02;
}

.leftPanel__umlaut {
  font-size: 3.5em;
  color: #a4de02;
  text-align: center;
  border-bottom: medium dotted #a4de02;
}

.leftPanel__navIcon {
  height: 6em;
  width: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftPanel__icon {
  color: #a4de02;
  padding: 0;
}

.leftPanel__navIcon:hover {
  background-color: #a4de02;
  cursor:pointer;
}
.leftPanel__navIcon:hover .leftPanel__icon {
  color: white;
}

.leftPanel__fridgeIcon {
  width:  4.5em;
  background-image: url('Resources/fridge-green.svg');
}

.leftPane__logInOut {
  background: white;
  color: #a4de02;
  border: 2px solid #a4de02;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0 5px 0 7px;
  font-size: 1.1em;
  position: absolute;
  bottom: 1em;
}
.leftPane__logInOut:hover {
  background-color: #a4de02;
  color: white;
}

/* --------------------------------------- */
/* Shop and Recipe */
/* --------------------------------------- */

.placeholder {
  color: #a4de02;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}

/* --------------------------------------- */
/* Fridge */
/* --------------------------------------- */

.fridge__buttonGroup {
  margin: 5vh auto 0 auto;
}

.fridge__btnGroupLeft { border-radius: 10px 0px 0px 10px; }
.fridge__btnGroupMiddle { border-width:  2px 0px 2px 0px; }
.fridge__btnGroupRight  { border-radius: 0px 10px 10px 0px; }

.fridge__selectedButton {
  background-color: #a4de02 !important;
  color: white !important;
}

.fridge__compartmentView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fridge__addIcon {
  margin-top: 10px;
  margin-left: 10px;
  cursor:pointer;
}

.fridge__table {
  margin-top: 4vh;
  width: 75vw;
}

.ftHeader {
  margin-top: 6vh;
  border-bottom: 5px dashed #FED833;
  font-weight: bold;
  padding-bottom: 0.5em;
  color: #577504;
}

.ftRow {
  display: flex;
  align-items: center;
  width: 75vw;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #92c10f;
}

.ftCell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

.foodIcon {
  height: 2.5em;
  width:  2.5em;
}

.foodActionsBar {
  display: flex;
  flex-direction: column;
  float: right;
  position:fixed;
  z-index: 5;
  top: 5em;
  right: 1.5em;
}

.foodAction {
  height: 3.9em;
  width: 3.9em;
  border-radius: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0 1em 0;
}

.foodActionEnabled {
  color: #a4de02;
  border: 3px solid #a4de02;
  cursor: pointer;
}

.foodActionDisabled {
  color: #C0C5CE;
  border: 3px dotted #C0C5CE;
}
/* --------------------------------------- */
/* Util/Misc */
/* --------------------------------------- */
.noHighlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.greenButton {
  background: white;
  color: #a4de02;
  border: 2px solid #a4de02;
  padding: 5px 10px;
  font-size: 1.2em;
}
.greenButton:focus {
  outline: none;
}

.icon {
  color: #a4de02;
  padding: 0;
}

.noDisplay {
  display: none;
}
